.Footer{
    background-color: rgba(24, 24, 24, 0.6);
    backdrop-filter: blur(10px);
    border-top: 1px solid #ccc;
    width: 80%;
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.Footer > * {
    flex-grow: 1;
    flex-basis: 0;
    max-width: none;
    box-sizing: border-box;
}

.link-column > * {
    padding: 3px 0;
}